body{

    background:#111;

    color:white;

    font-family:Arial;

    padding:40px;

}

button{

    padding:10px 20px;

    margin:10px;

    cursor:pointer;

}

pre{

    margin-top:30px;

    background:#222;

    padding:20px;

    border-radius:8px;

    overflow:auto;

}